# Any tweetmonster input/output files
*.csv
*.db

# Local and personal edited version of btf.py file 
tm_x.py

# except
!requirements.txt

# Notebooks for dev
*.ipynb
*.ipynb_checkpoints

# My own credentials
my_creds.py

# Cache
__pycache__/
